<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>App</title>
  <link rel="stylesheet" href="/assets/application.css" type="text/css" charset="utf-8">
  <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
  

</head>
<body>
  <div id='home'>
    <h1 id ='mainHeader'>How Far Have you traveled....</h1>
    <div id='symbols'>
      <p> <img id='homeSpace' src='/assets/rocket.png' /> <span>in Space?</span></p>
      <p> <img id='homeTime' src='/assets/time.png' /> <span>in Time?</span></p>
    </div>
    <div id='buttons'>
      <h2>Login with Tripit (and soon Dopplr) to find out </h2>
      <a href='/tripit'> <img src='/assets/tripit.png'></a>
    </div>
  </div>
 
</body>
</html>