<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>App</title>
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
  <link rel="stylesheet" href="/assets/application.css" type="text/css" charset="utf-8">
  <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
  <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript" charset="utf-8">
    var exports = this;
    $(function(){
      exports.app = new App({el: $("body")});      
    });
  </script>
  

</head>
<body>
  
</body>
</html>